* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  background: #F2F2F2;
  overflow-y: hidden;
}

.tui-full-calendar-week-container {
  height: 0px !important;
  box-shadow: 0 0 30px #ccc !important;
  background: #fff;
}

.tui-full-calendar-layout {
  height: 0px !important;
}

.tui-view-1 {
  height: 0px !important;
}